.main {
  width: 960px;
  margin: 0 auto;

  @media (max-width: 960px) {
    width: 100%;
    padding: 0 20px; // 追加
  }
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.publishedAt {
  margin-bottom: 40px;

  @media (max-width: 768px) {
    font-size: 16px; // 追加
  }
}

.link {
  color: blue;
  text-decoration: underline;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.container {
  width: 100%;

  @media (min-width: 601px) {
    width: 960px;
    padding: 0 20px; // 追加
  }
}

.post {
  font-size: 18px; // 追加
  line-height: 1.6; // 追加

  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .postsHeader {
    font-size: 32px;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;

    @media (max-width: 768px) {
      font-size: 16px; // 追加
    }
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  @media (max-width: 768px) {
    font-size: 16px; // 追加
  }
}
